<!DOCTYPE html>
<html lang="en">
<head>
    <title> ICP3 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
    <script src="api.js"></script>

    <!-- CSS START -->
    <style>
        body {
            background: white;  /* Set background color */
            color: black;       /* Set text color */
            font-family: sans-serif; /* Set font */
        }
    </style>
    <!-- CSS END -->

</head>
<body>

<!-- Angular START -->
<div ng-app="RecipeApp" ng-init="initialize()" ng-controller="recipeController">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Webpage START -->
            <h1> Kuiristo! </h1>
            <p>By Rachel Singh, CS 5551</p>

            <br>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p>Food:</p>
                        <p ng-bind="food">{{ food }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Calories:</p>
                        <p ng-bind="calories">{{ calories }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Serving Weight:</p>
                        <p ng-bind="weight">{{ weight }}</p>
                    </div>
                </div>
            </div>

            <br>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Recipe:</p>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="" placeholder="Recipe name" ng-model="recipeName">
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-success" value="Search!" ng-click="getRecipe()">
                    </div>
                </div>
            </div>


            <!-- Webpage END -->
        </div>
    </div>
</div>

</div>
<!-- Angular END -->

<!-- Javascript START -->
<script>
    var app = angular.module( "RecipeApp", [] );
    app.controller( "recipeController", function( $scope, $http ) {
        $scope.initialize = function() {
        }

        $scope.getRecipe = function() {
            $scope.callNutritionix( $scope.recipeName );
        }

        $scope.callWatson = function( text ) {
            var wURL = watson_url + "/v1/synthesize?"
                + "username=" + watson_username
                + "&password=" + watson_password
                + "&text=" + text;
            console.log( wURL );
            
            var watsonSound = new Audio( wURL );
            watsonSound.play();
        }

        $scope.callNutritionix = function( text ) {
            var nURL = "https://api.nutritionix.com/v1_1/"
                + "search/" + text + "?results=0:1&fields=*"
                + "&appId=" + nutritionix_appid
                + "&appKey=" + nutritionix_appkey;
            console.log( nURL );
            
            $http( { method: "GET", url: nURL } ).then( function successCallback( response ) {
                console.log( response );
                $scope.calories = response["data"]["hits"][0]["fields"]["nf_calories"];
                $scope.weight = response["data"]["hits"][0]["fields"]["nf_serving_weight_grams"];
                $scope.food = response["data"]["hits"][0]["fields"]["item_name"];
                $scope.callWatson( "I found " + response["data"]["hits"][0]["fields"]["item_name"] );
            } );
        }
    } );
</script>
<!-- Javascript END -->


</body>
</html>
